/* style.css */
/* Component design */
@import url("css/dropdown.css");
@import url("css/card.css");
@import url("css/navbar.css");
@import url("css/picture.css");

/* font and colors */
body{
  background: rgb(220,220,220);
  color: rgb(30,30,30);
  font-size: 18px;
  font-family: font-family: 'Open Sans', sans-serif;
}
h1{
  font-family: font-family: 'Montserrat', sans-serif;
  color: rgb(100,100,100);
  font-weight: lighter;
  font-size: 100px;
}
h2 {
  font-family: font-family: 'Montserrat', sans-serif;
  color: rgb(50,50,50);
  font-weight: bolder;
  font-size: 20px;
}
a {
  color: yellow;
}
a:hover {
  text-decoration: none;
  color: rgb(200,200,200);
}

/* Custom design */

.small-image {
   width: 100%;
   border-radius: 5px;
   border: 1px solid rgba(200,200,200,1);
}

#banner {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1441716844725-09cedc13a4e7?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=d223156a186039f8c0f0a626d5b7e8eb');
  background-size: cover;
  height: 100vh;
  padding: 150px 0;
  text-align: center;
  color: white;
}

#banner h1 {
  color: white
}

#banner p {
  color: white
  font-size: 30px;
}

#banner-top  {
  position: absolute !important;
  top: 10px !important;
  right: 10px !important;
}


#footer {
  background-color: black;
  padding: 15px;
  color: white;
  text-align: center;
}

#footer p {
  color: white;
}

#footer a {
  color: white;
  font-size: 30px;
}

.card {
  padding: 15px;

}


